$headerHeight:80px;
$paddingBox:10px;
$purple:#9f00fb;
$red:#ff0000;
$yellow:#FBC02D;
$black:#212529;
$blue:#00BFFF;
$green:	#32CD32;
$redBadgeText:#C63737;
$redBadgeBg:#ffcdd2;
$greenBadgeText:#256029;
$greenBadgeBg:#c8e6c9;
$gray:#dfe2e7;
$grayOpacity:#b5b5b5;
$grayDark:#5d5c5c;
$borderRadius:20px;
